<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786277539067-g3dcuoh2i8pbjf7rina7idjsgkhsc38q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786277539067-g3dcuoh2i8pbjf7rina7idjsgkhsc38q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>786277539067-d4jv99ene0j8uhl3i4jmisu4bo7p75qt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf845sq5hUOieqIF1aV0ls8cw6G2OiFns</string>
	<key>GCM_SENDER_ID</key>
	<string>786277539067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.disco.admob.app</string>
	<key>PROJECT_ID</key>
	<string>hybid-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>hybid-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:786277539067:ios:2196b8e80ffbb902ab245e</string>
	<key>DATABASE_URL</key>
	<string>https://hybid-demo.firebaseio.com</string>
</dict>
</plist>
